@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap')

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid rgba(0, 0, 0, 0.311);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.13);
    width: 50vw;
    padding: 2vw;
    border-radius: 0.7vw;
}

.box-title > h1{
    font-weight: 700;
    font-size: 3vw;
    text-transform: uppercase;
}

.alert{
    border: none;
    font-size: 1.3vw;
    color: white;
    font-weight: bold;
    padding: 0.5vw 1vw;
    animation: reset 0.2s;
    margin-top: 1.5vw;
}

@keyframes reset {
    0% {
        opacity: 0;
    }

    50%{
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.alert-danger{
    background-color: rgb(240, 61, 61);
}

.alert-success{
    background-color: rgb(36, 186, 81);
}

.box-form{
    margin-top: 1.5vw;
}

form{
    display: flex;
}

.form-control{
    font-size: 1.3vw;
    padding: 0.5vw 1vw;
    margin-right: 1vw;
}

.btn-submit{
    padding: 0.5vw 1vw;
    font-size: 1.3VW;
}

.box-list-tasks{
    border-top: 1px solid rgb(195, 195, 195);
    margin-top: 20px;
}
